@charset "utf-8";

//==========================================================================
//_hover.scss
//==========================================================================

//-----------------------------------------------------------------
//.c-hover-alpha
//-----------------------------------------------------------------
.c-hover-alpha {
  @include transition;
  @include hover {
    opacity: 0.7;
  }
}

//-----------------------------------------------------------------
//.c-hover-underline
//-----------------------------------------------------------------
.c-hover-underline {
  @include transition;
  text-decoration: underline;
  @include hover {
    text-decoration: none;
  }
}

//-----------------------------------------------------------------
//.c-link-01
//-----------------------------------------------------------------
.c-link-01 {
  @include transition;
  text-decoration: underline;
  color: $blue-700;
  @include hover {
    text-decoration: none;
  }
}