@charset "utf-8";

//==========================================================================
//_lead.scss
//==========================================================================

//-----------------------------------------------------------------
//.c-lead-01
//-----------------------------------------------------------------
.c-lead-01 {
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.8;
  font-weight: 700;
  @include mdMax {
    font-size: 1.6rem;
  }
}








