@charset "utf-8";

//==========================================================================
//_list.scss
//==========================================================================

//-----------------------------------------------------------------
//.c-list
//-----------------------------------------------------------------
.c-list {
  
}

.c-list-01 {
  li {
    text-indent: -1em;
    margin-left: 1em;
    &::before {
      content: '- ';
    }
  }
}


//-----------------------------------------------------------------
//.c-list-notes
//-----------------------------------------------------------------
.c-list-notes {
  li {
    text-indent: -1em;
    margin-left: 1em;
  }
}


//-----------------------------------------------------------------
//.c-list-dot
//-----------------------------------------------------------------
.c-list-dot {
  li {
    text-indent: -1em;
    margin-left: 1em;
  }
}


