@charset "utf-8";

//==========================================================================
//_sect.scss
//==========================================================================

//-----------------------------------------------------------------
//.c-sect-xl
//-----------------------------------------------------------------
.c-sect-xl {
  & + & {
    margin-top: $margin-xl;
    @include smMax {
      margin-top: $margin-xl * 0.5;
    }
  }
}

//-----------------------------------------------------------------
//.c-sect-lg
//-----------------------------------------------------------------
.c-sect-lg {
  & + & {
    margin-top: $margin-lg;
    @include smMax {
      margin-top: $margin-lg * 0.5;
    }
  }
}

//-----------------------------------------------------------------
//.c-sect-md
//-----------------------------------------------------------------
.c-sect-md {
  & + & {
    margin-top: $margin-md;
    @include smMax {
      margin-top: $margin-md * 0.5;
    }
  }
}

//-----------------------------------------------------------------
//.c-sect-sm 
//-----------------------------------------------------------------
.c-sect-sm {
  & + & {
    margin-top: $margin-sm;
    @include smMax {
      margin-top: $margin-sm * 0.5;
    }
  }
}

//-----------------------------------------------------------------
//.c-sect-xs
//-----------------------------------------------------------------
.c-sect-xs {
  & + & {
    margin-top: $margin-xs;
    @include smMax {
      margin-top: $margin-xs * 0.5;
    }
  }
}




