@charset "utf-8";

//==========================================================================
//_ttl.scss
//==========================================================================

//-----------------------------------------------------------------
//.c-ttl-01
//-----------------------------------------------------------------
.c-ttl-01 {
  text-align: left;
  font-weight: 700;
  line-height: 1.4;
  padding-bottom: 10px;
  border-bottom: 2px solid $colorPlain;
  letter-spacing: 0.04em;
  @include smMin {
    font-size: 3rem;
    margin-bottom: 40px;
  }
  @include smMax {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
}

//-----------------------------------------------------------------
//.c-ttl-02
//-----------------------------------------------------------------
.c-ttl-02 {
  text-align: left;
  font-weight: 700;
  padding: 0 0 0 10px;
  line-height: 1.3;
  border-left: 4px solid $colorMain;
  @include smMin {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  @include smMax {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
}

//-----------------------------------------------------------------
//.c-ttl-03
//-----------------------------------------------------------------
.c-ttl-03 {
  text-align: left;
  font-weight: 700;
  line-height: 1.3;
  @include smMin {
    font-size: 1.7rem;
    margin-bottom: 5px;
  }
  @include smMax {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
}