<!DOCTYPE HTML>
<html lang="ja-JP">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<!--HEAD START-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<title>Frontend Demo Sources</title>
<meta name="description" content="【SITE DESCRIPTION】">
<meta name="keywords" content="【SITE KEYWORDS】">
<link rel="apple-touch-icon-precomposed" href="./apple-touch-icon.png">
<link rel="icon" type="image/vnd.microsoft.icon" href="./favicon.ico">
<link rel="canonical" href="【SITE URL(full path)】">
<!--OGP-->
<meta property="og:title" content="【SITE TITLE】">
<meta property="og:type" content="website">
<meta property="og:description" content="【SITE DESCRIPTION】">
<meta property="og:url" content="【SITE URL(full path)】">
<meta property="og:image" content="【SITE URL(full path)】/assets/images/ogp.png">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="【SITE URL(full path)】/assets/images/ogp.png">

<script src="./assets/include/css.js"></script>

<!-- Customs -->

<!--HEAD END-->
</head>
<body>
<!--BODY START-->
<div class="l-page component cookie">
  
  <script src="./assets/include/header.js"></script>
  
  <main class="l-main">
    
    <div class="l-container-01 l-container--gray">
      <div class="l-inner">

        <section class="top-sect">
          <h1 class="c-ttl-01 u-ta-c">DEMO COOKIE</h1>
          <p class="c-lead-01 u-fw-700 u-ta-c"></p>
          <h2 class="c-ttl-02 u-mt-md">Link source</h2>
          <p class="c-source-box"><strong>CSS:</strong><a href="./assets/css/object/project/_cookie.scss" target="_blank" rel="noopener">./assets/css/object/project/_cookie.scss</a></p>
          <p class="c-source-box"><strong>JS:</strong><a href="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" target="_blank" rel="noopener">https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js</a></p>
          <p class="c-source-box"><strong></strong><a href="./assets/js/cookie.js" target="_blank" rel="noopener">./assets/js/cookie.js</a></p>
        </section>
        <!-- /.top-sect -->
      </div>
    </div>
    <!-- /.l-container -->
    
  </main>
  <!-- /.l-main -->
  
  <script src="./assets/include/footer.js"></script>
  <script src="./assets/include/cookie.js"></script>
  
</div>
<!-- /.l-page -->

<!--BODY END-->
</body>
</html>