<!DOCTYPE HTML>
<html lang="ja-JP">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<!--HEAD START-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<title>Frontend Demo Sources</title>
<meta name="description" content="【SITE DESCRIPTION】">
<meta name="keywords" content="【SITE KEYWORDS】">
<link rel="apple-touch-icon-precomposed" href="./apple-touch-icon.png">
<link rel="icon" type="image/vnd.microsoft.icon" href="./favicon.ico">
<link rel="canonical" href="【SITE URL(full path)】">
<!--OGP-->
<meta property="og:title" content="【SITE TITLE】">
<meta property="og:type" content="website">
<meta property="og:description" content="【SITE DESCRIPTION】">
<meta property="og:url" content="【SITE URL(full path)】">
<meta property="og:image" content="【SITE URL(full path)】/assets/images/ogp.png">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="【SITE URL(full path)】/assets/images/ogp.png">

<script src="./assets/include/css.js"></script>

<!-- Customs -->

<!--HEAD END-->
</head>
<body>
<!--BODY START-->
<div class="l-page component clipboard">
  
  <script src="./assets/include/header.js"></script>
  
  <main class="l-main">

    <div class="l-container l-container--gray">
      <div class="l-inner">

        <section class="top-sect c-sect-lg">
          <h1 class="c-ttl-01 u-ta-c">Copy to clipboard</h1>
          <div class="">
            <p class="c-source-box"><strong>CSS:</strong><a href="./assets/css/object/project/_clipboard.scss" target="_blank" rel="noopener">./assets/css/object/project/_clipboard.scss</a></p>
            <p class="c-source-box"><strong>JS:</strong><a href="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.4.0/clipboard.min.js" target="_blank" rel="noopener">https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.4.0/clipboard.min.js</a></p>
            <p class="c-source-box"><strong></strong><a href="./assets/js/clipboard.js" target="_blank" rel="noopener">./assets/js/clipboard.js</a></p>
          </div>
        </section>
      </div>
    </div>
    
    <div class="l-container">
      <div class="l-inner">
        
        <section class="top-sect">
          <h2 class="c-ttl-02">Please click the Yellow below buttons to copy link</h2>

          <div class="top-sect-cont">

            <div class="p-clipboard js-clipboard">
              <div class="p-clipboard__inner">
                <input class="p-clipboard__target js-clipboard-target" type="text" readonly="" value="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.css">
                <span class="p-clipboard__view js-clipboard-view" readonly=""></span>
                <button class="p-clipboard__btn js-clipboard-btn"><svg width="24" height="24" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8a2 2 0 012 2v2m-6 12h8a2 2 0 002-2v-8a2 2 0 00-2-2h-8a2 2 0 00-2 2v8a2 2 0 002 2z" /></svg></button>
                <span class="p-clipboard__tooltip js-clipboard-tooltip">Copied!</span>
              </div>
            </div>
            <br><br>
            <div class="p-clipboard js-clipboard">
              <div class="p-clipboard__inner">
                <input class="p-clipboard__target js-clipboard-target" type="text" readonly="" value="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.4.0/clipboard.min.js">
                <span class="p-clipboard__view js-clipboard-view" readonly=""></span>
                <button class="p-clipboard__btn js-clipboard-btn"><svg width="24" height="24" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8a2 2 0 012 2v2m-6 12h8a2 2 0 002-2v-8a2 2 0 00-2-2h-8a2 2 0 00-2 2v8a2 2 0 002 2z" /></svg></button>
                <span class="p-clipboard__tooltip js-clipboard-tooltip">Copied!</span>
              </div>
            </div>
            <br><br>
            <div class="p-clipboard js-clipboard">
              <div class="p-clipboard__inner">
                <input class="p-clipboard__target js-clipboard-target" type="text" readonly="" value="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js">
                <span class="p-clipboard__view js-clipboard-view" readonly=""></span>
                <button class="p-clipboard__btn js-clipboard-btn"><svg width="24" height="24" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8a2 2 0 012 2v2m-6 12h8a2 2 0 002-2v-8a2 2 0 00-2-2h-8a2 2 0 00-2 2v8a2 2 0 002 2z" /></svg></button>
                <span class="p-clipboard__tooltip js-clipboard-tooltip">Copied!</span>
              </div>
            </div>

            <br><br>
            <div class="c-area-code">
                <p class="c-area-code__lbl">HTML:</p>
                <textarea name="" id="" cols="30" rows="15" readonly="">
<div class="p-clipboard js-clipboard">
  <div class="p-clipboard__inner">
    <input class="p-clipboard__target js-clipboard-target" type="text" readonly="" value="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js">
    <span class="p-clipboard__view js-clipboard-view" readonly=""></span>
    <button class="p-clipboard__btn js-clipboard-btn"><svg width="24" height="24" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8a2 2 0 012 2v2m-6 12h8a2 2 0 002-2v-8a2 2 0 00-2-2h-8a2 2 0 00-2 2v8a2 2 0 002 2z" /></svg></button>
    <span class="p-clipboard__tooltip js-clipboard-tooltip">Copied!</span>
  </div>
</div>
                </textarea>
              </div>


          </div>

        </section>
        <!-- /.top-sect -->
        
      </div>
    </div>
    <!-- /.l-container -->
    
  </main>
  <!-- /.l-main -->
  
  <script src="./assets/include/footer.js"></script>
  
</div>
<!-- /.l-page -->

<!--BODY END-->
</body>
</html>