<!DOCTYPE HTML>
<html lang="ja-JP">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<!--HEAD START-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<title>Frontend Demo Sources</title>
<meta name="description" content="【SITE DESCRIPTION】">
<meta name="keywords" content="【SITE KEYWORDS】">
<link rel="apple-touch-icon-precomposed" href="./apple-touch-icon.png">
<link rel="icon" type="image/vnd.microsoft.icon" href="./favicon.ico">
<link rel="canonical" href="【SITE URL(full path)】">
<!--OGP-->
<meta property="og:title" content="【SITE TITLE】">
<meta property="og:type" content="website">
<meta property="og:description" content="【SITE DESCRIPTION】">
<meta property="og:url" content="【SITE URL(full path)】">
<meta property="og:image" content="【SITE URL(full path)】/assets/images/ogp.png">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="【SITE URL(full path)】/assets/images/ogp.png">

<script src="./assets/include/css.js"></script>

<!-- Customs -->

<!--HEAD END-->
</head>
<body>
<!--BODY START-->
<div class="l-page component tabs">
  
  <script src="./assets/include/header.js"></script>
  
  <main class="l-main">

    <div class="l-container l-container--gray">
      <div class="l-inner">

        <section class="top-sect c-sect-lg">
          <h1 class="c-ttl-01 u-ta-c">Tabs</h1>
          <p class="c-lead-01 u-fw-700 u-ta-c u-mb-lg">Click buttons to switch Tabs</p>
          <div class="">
            <p class="c-source-box"><strong>CSS:</strong><a href="./assets/css/object/component/_tabs.scss" target="_blank" rel="noopener">./assets/css/object/component/_tabs.scss</a></p>
            <p class="c-source-box"><strong>JS:</strong><a href="./assets/js/tab.js" target="_blank" rel="noopener">./assets/js/tab.js</a></p>
          </div>
          <div class="c-area-code">
            <p class="c-area-code__lbl">HTML:</p>
            <textarea class="textarea-lg" name="" id="" cols="30" rows="5" readonly="">
<div class="c-tab">
  <div class="c-tab-btn c-tab-btn--col3">
    <ul class="c-tab-btn__items">
      <li class="c-tab-btn__item js-tab is-active" data-href="tab01">Tab 1</li>
      <li class="c-tab-btn__item js-tab" data-href="tab02">Tab 2</li>
      <li class="c-tab-btn__item js-tab" data-href="tab03">Tab 3</li>
    </ul>
  </div>
  <!-- /.c-tab-btn -->
  <div class="c-tab-content">
    <div id="tab01" class="c-tab-content__item is-active">
    </div>
    <div id="tab02" class="c-tab-content__item">
    </div>
    <div id="tab03" class="c-tab-content__item">
    </div>
  </div>
  <!-- /.c-tab-content -->
</div>
<!-- /.c-tab -->
            </textarea>
          </div>
        </section>
      </div>
    </div>
    
    <div class="l-container">
      <div class="l-inner">
        
        <section class="top-sect">

          <div class="c-tab">
            <div class="c-tab-btn c-tab-btn--col3">
              <ul class="c-tab-btn__items">
                <li class="c-tab-btn__item js-tab is-active" data-href="tab01">Tab 1</li>
                <li class="c-tab-btn__item js-tab" data-href="tab02">Tab 2</li>
                <li class="c-tab-btn__item js-tab" data-href="tab03">Tab 3</li>
              </ul>
            </div>
            <!-- /.c-tab-btn -->

            <div class="l-container--gray u-p-50">
              <div class="c-tab-content">
                <div id="tab01" class="c-tab-content__item is-active">
                  <div class="c-txt-02">
                    <p>コンテンツテキスト。コンテンツテキスト。コンテンツテキスト。コンテンツテキスト。コンテンツテキスト。コンテンツテキスト。コンテンツテキスト。コンテンツテキスト。コンテンツテキスト。コンテンツテキスト。</p>
                    <figure><img src="./assets/images/img01.jpg" alt="" /></figure>
                  </div>
                </div>

                <div id="tab02" class="c-tab-content__item">
                  <div class="c-txt-02">
                    <p>コンテンツテキスト。コンテンツテキスト。</p>
                    <figure><img src="./assets/images/img02.jpg" alt="" /></figure>
                  </div>
                </div>

                <div id="tab03" class="c-tab-content__item">
                  <div class="c-txt-02">
                    <p>コンテンツテキスト。コンテンツテキスト。コンテンツテキスト。</p>
                    <figure><img src="./assets/images/img04.jpg" alt="" /></figure>
                  </div>
                </div>
              </div>
              <!-- /.c-tab-content -->
            </div>


          </div>
          <!-- /.c-tab -->

        </section>
        <!-- /.top-sect -->
        
      </div>
    </div>
    <!-- /.l-container -->
    
  </main>
  <!-- /.l-main -->
  
  <script src="./assets/include/footer.js"></script>
  
</div>
<!-- /.l-page -->

<!--BODY END-->
</body>
</html>