<!DOCTYPE HTML>
<html lang="ja-JP">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<!--HEAD START-->
<script src="/assets/include/head.js"></script>
<script src="/assets/include/css.js"></script>

<!-- Customs -->

<!--HEAD END-->
</head>
<body>
<!--BODY START-->
<div class="l-page component mailto">
  
  <script src="/assets/include/header.js"></script>
  
  <main class="l-main">

    <div class="l-container l-container--gray">
      <div class="l-inner">

        <section class="top-sect c-sect-lg">
          <h1 class="c-ttl-01 u-ta-c">MAIL TO</h1>

          <p class="c-lead-02 u-mt-sm u-mb-sm">The Subject and Content in Email were encoded by Javascript.</p>
          <div class="">
            <p class="c-source-box"><strong>JS:</strong><a href="/assets/js/email.js" target="_blank" rel="noopener">/assets/js/email.js</a></p>
          </div>
          <div class="c-area-code">
            <p class="c-area-code__lbl">HTML:</p>
            <textarea class="" name="" id="" cols="30" rows="1" readonly=""><a class="js-contact-mail" href="">...</a></textarea>
          </div>
        </section>
      </div>
    </div>
    
    <div class="l-container">
      <div class="l-inner">
        
        <section class="top-sect u-ta-c">
          <h2 class="c-ttl-02">View my demo:</h2>

          <a class="c-btn-01 js-contact-mail c-btn-center" href=""><span class="c-btn-01__txt">Send email for me</span></a>

        </section>
        <!-- /.top-sect -->
        
      </div>
    </div>
    <!-- /.l-container -->
    
  </main>
  <!-- /.l-main -->
  
  <script src="/assets/include/footer.js"></script>
  
</div>
<!-- /.l-page -->

<!--BODY END-->
</body>
</html>