@charset "utf-8";

//==========================================================================
//_container.scss
//==========================================================================

//-----------------------------------------------------------------
//.l-container
//-----------------------------------------------------------------
.l-container {
  @include smMin {
    padding: 80px 0;
  }
  @include smMax {
    padding: 40px 0;
  }
  &:last-child {
    @include smMin {
      padding-bottom: 150px;
    }
    @include smMax {
      padding-bottom: 80px;
    }
  }
  &--gray {
    background: $colorGray01;
  }
}

.l-container-01 {
  @include smMin {
    padding: 80px 0;
  }
  @include smMax {
    padding: 40px 0;
  }
}
