@charset "utf-8";

//==========================================================================
//_inner.scss
//==========================================================================

//-----------------------------------------------------------------
//.l-inner
//-----------------------------------------------------------------
.l-inner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: $lg + px;
}

//-----------------------------------------------------------------
//.l-inner-md
//-----------------------------------------------------------------
.l-inner-md {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 960px;
}


